body {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.btn:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.11);
}

.btn.btn-back {
  margin: 60px 0;
}

.btn.btn-with-icon {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.country-details {
  width: 100%;
}

@media (min-width: 64em) {
  .country-details {
    display: flex;
    align-items: flex-start;
  }
}

.country-details.no-flex {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 64em) {

  .country-flag,
  .country-info {
    flex: 1 0 calc(50% - 30px);
  }
}

.country-flag {
  flex-shrink: 0;
  width: 450px;
  max-width: 450px;
  max-height: 350px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-right: 70px;
  border-radius: 6px;
}

@media (max-width: 39.9375em) {
  .country-flag {
    margin-right: 0;
    width: 100%;
  }
}

.country-flag img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.country-info {
  padding: 40px 0;
}

.country-info h1 {
  color: #111517;
  margin-bottom: 30px;
}

.country-info strong {
  text-transform: capitalize;
  color: #111517;
}

.country-info strong.warning {
  color: #d21034 !important;
}

.country-info li {
  text-transform: capitalize;
  color: #2b3945;
}

.country-info li button {
  font-size: inherit;
}

@media (min-width: 40em) {
  .country-info>.col-2 {
    display: flex;
    align-items: flex-start;
    gap: 140px;
  }
}

.country-info>.col-2 .col-2 {
  margin: 40px 0;
}

@media (min-width: 40em) {
  .country-info>.col-2 .col-2 {
    margin: 0;
  }
}

.country-info>.col-2 li {
  margin-bottom: 15px;
}

.country-info>.col-3 {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

@media (min-width: 40em) {
  .country-info>.col-3 {
    margin-top: 35px;
  }
}

.country-info>.col-3 ul {
  display: inherit;
  align-items: inherit;
  gap: 8px;
  flex-wrap: wrap;
}


/* Country info */

.country-info {
  display: flex;
  flex-direction: row;
  /* gap: 30px;
  padding: 50px;
  margin-left: 50px; */
}

.country-info-text {
  padding: 50px;

}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /* padding-left: 1.875rem; */
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
  /* width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  margin: auto;

}

.div1 img {
  height: 400px;
  /* object-fit: cover; */
  /* border-radius: 10px; */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
  display: flex;
  margin-top: 5%;
  /* Align content to the end of div2 */
}


.div3 {
  grid-area: 2 / 3 / 3 / 4;
}

.div4 {
  grid-area: 2 / 4 / 3 / 5;
}

.div5 {
  grid-area: 3 / 3 / 4 / 5;
}

.span-info {
  font-weight: 600;

}

.div-span-info {
  /* display: flex;
  justify-content: center; */
  margin-bottom: 10px;
  font-weight: 500;

}

.border-div {
  margin-top: 70px;
}